In [1]:
import os
import numpy as np
import pandas as pd
import numpy as np, pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier

In [5]:
data = pd.read_csv('car-Copy1.data',names=['buying','maint','doors','persons','lug_boot','safety','class'])
data.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
buying      1728 non-null object
maint       1728 non-null object
doors       1728 non-null object
persons     1728 non-null object
lug_boot    1728 non-null object
safety      1728 non-null object
class       1728 non-null object
dtypes: object(7)
memory usage: 94.6+ KB

In [7]:
data['class'],class_names = pd.factorize(data['class'])

In [9]:
print(class_names)
print(data['class'].unique())

Index(['unacc', 'acc', 'vgood', 'good'], dtype='object')
[0 1 2 3]

In [10]:
data['buying'],_ = pd.factorize(data['buying'])
data['maint'],_ = pd.factorize(data['maint'])
data['doors'],_ = pd.factorize(data['doors'])
data['persons'],_ = pd.factorize(data['persons'])
data['lug_boot'],_ = pd.factorize(data['lug_boot'])
data['safety'],_ = pd.factorize(data['safety'])
data.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       0      0      0        0         0       0      0
1       0      0      0        0         0       1      0
2       0      0      0        0         0       2      0
3       0      0      0        0         1       0      0
4       0      0      0        0         1       1      0

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
buying      1728 non-null int64
maint       1728 non-null int64
doors       1728 non-null int64
persons     1728 non-null int64
lug_boot    1728 non-null int64
safety      1728 non-null int64
class       1728 non-null int64
dtypes: int64(7)
memory usage: 94.6 KB

In [16]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]
X

      buying  maint  doors  persons  lug_boot  safety
0          0      0      0        0         0       0
1          0      0      0        0         0       1
2          0      0      0        0         0       2
3          0      0      0        0         1       0
4          0      0      0        0         1       1
5          0      0      0        0         1       2
6          0      0      0        0         2       0
7          0      0      0        0         2       1
8          0      0      0        0         2       2
9          0      0      0        1         0       0
10         0      0      0        1         0       1
11         0      0      0        1         0       2
12         0      0      0        1         1       0
13         0      0      0        1         1       1
14         0      0      0        1         1       2
15         0      0      0        1         2       0
16         0      0      0        1         2       1
17         0      0      0        1         2       2
18         0      0      0        2         0       0
19         0      0      0        2         0       1
20         0      0      0        2         0       2
21         0      0      0        2         1       0
22         0      0      0        2         1       1
23         0      0      0        2         1       2
24         0      0      0        2         2       0
25         0      0      0        2         2       1
26         0      0      0        2         2       2
27         0      0      1        0         0       0
28         0      0      1        0         0       1
29         0      0      1        0         0       2
...      ...    ...    ...      ...       ...     ...
1698       3      3      2        2         2       0
1699       3      3      2        2         2       1
1700       3      3      2        2         2       2
1701       3      3      3        0         0       0
1702       3      3      3        0         0       1
1703       3      3      3        0         0       2
1704       3      3      3        0         1       0
1705       3      3      3        0         1       1
1706       3      3      3        0         1       2
1707       3      3      3        0         2       0
1708       3      3      3        0         2       1
1709       3      3      3        0         2       2
1710       3      3      3        1         0       0
1711       3      3      3        1         0       1
1712       3      3      3        1         0       2
1713       3      3      3        1         1       0
1714       3      3      3        1         1       1
1715       3      3      3        1         1       2
1716       3      3      3        1         2       0
1717       3      3      3        1         2       1
1718       3      3      3        1         2       2
1719       3      3      3        2         0       0
1720       3      3      3        2         0       1
1721       3      3      3        2         0       2
1722       3      3      3        2         1       0
1723       3      3      3        2         1       1
1724       3      3      3        2         1       2
1725       3      3      3        2         2       0
1726       3      3      3        2         2       1
1727       3      3      3        2         2       2

[1728 rows x 6 columns]

In [17]:
y

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
1698    0
1699    3
1700    2
1701    0
1702    0
1703    0
1704    0
1705    0
1706    0
1707    0
1708    0
1709    0
1710    0
1711    1
1712    3
1713    0
1714    3
1715    2
1716    0
1717    3
1718    2
1719    0
1720    1
1721    3
1722    0
1723    3
1724    2
1725    0
1726    3
1727    2
Name: class, Length: 1728, dtype: int64

In [20]:
from sklearn import  metrics, model_selection

X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.3, random_state=0)

In [21]:
model = KNeighborsClassifier(n_neighbors=5)
model.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [22]:
y_pred = model.predict(X_test)
count_misclassified = (y_test != y_pred).sum()
print('Misclassified samples: {}'.format(count_misclassified))
accuracy = metrics.accuracy_score(y_test, y_pred)
print('Accuracy: {:.2f}'.format(accuracy))

Misclassified samples: 32
Accuracy: 0.94

In [24]:
from sklearn.metrics import accuracy_score
for K in range(25):
 K_value = K+1
neigh = KNeighborsClassifier(n_neighbors = K_value)
neigh.fit(X_train, y_train)
y_pred = neigh.predict(X_test)
print("Accuracy is ", accuracy_score(y_test,y_pred)*100,"% for K-Value:",K_value)

Accuracy is  89.59537572254335 % for K-Value: 25